<div class="container">
  <div class="banner">
    <h1>Create an Account</h1>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="fullName">Full Name:</label>
      <input id="fullName" formControlName="fullName" type="text" />
    </div>

    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" />
    </div>

    <div>
      <label for="country">Country:</label>
      <select id="country" formControlName="country">
        <option value="" disabled selected>Select your country</option>
        <option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>

    <div class="dob">
      <label>Date of Birth:</label>
      <div>
        <label for="day">Day:</label>
        <input id="day" formControlName="day" type="number" />
      </div>
      <div>
        <label for="month">Month:</label>
        <select id="month" formControlName="month">
          <option value="" disabled selected>Select month</option>
          <option *ngFor="let month of months" [value]="month.value">
            {{ month.name }}
          </option>
        </select>
      </div>
      <div>
        <label for="year">Year:</label>
        <select id="year" formControlName="year">
          <option value="" disabled selected>Select year</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
    </div>

    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
      />
    </div>

    <button type="submit">Create an Account</button>
  </form>

  <p class="small-text">Already have an account? <a href="/login">Login</a></p>
</div>
